<!DOCTYPE html>
<html>
<head>
  <title>Chatbox Example</title>
  <link
  href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
  rel="stylesheet"/>
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
  <script src="app.js" defer></script>

</head>
<body>
  <section id="app">
  <div class="inputHistory">

    <div v-for="(msg, index) in userInputs" :key="index" class="userInput">

      <span class="message-text">{{ msg }}</span>
      <!-- <button class="close-button" @click="deleteMessage(index)">x</button> -->
    </div>

  </div>
  <div class="map">
    <img src="Capture.PNG" alt="Placeholder Image">
  </div>
  <div class="chatbox">
      <textarea placeholder="Type your message..."      
       v-model="userInput"
       @keyup.enter="addUserInput"
       :style="{ height: textAreaHeight + 'px' }"
       @input="adjustHeight"
       ref="textarea"></textarea>
       <button @click="addUserInput" class="send-button">Enter</button>
      <!-- <button>Send</button> -->
  </div>

  </section>


</body>
</html>