* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #1b995e;
  color: white;
  text-align: center;
}

.inputHistory {
  position: fixed;
  top: 20px;
  left: 20px;
}

.inputHistory div {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}


.userInput {
  position: relative;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
  max-width: 30%; /* Ensure the message doesn't overflow the container */
  display: flex;
  align-items: center;
}

.message-text {
  flex: 1; /* Take up available space */
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Show ellipsis for overflowed content */
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.map {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.map img {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.chatbox {
  display: flex;
  align-items: flex-start;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}


.chatbox textarea {
  flex:1;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  min-height: 40px;
  max-height: 800px;
}

.chatbox button {
  padding: 10px 20px;
  background-color: #3e3d42;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
